<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
	<form action="/save" method="get">
		<input type="text" name="sheetid">
		<input type="submit" value="取得">
	</form>
</body>
</html>